{{!-- 導覽列 --}}
<nav class="navbar">
  <a class="navbar-brand" href="#">
    <i class="navbar-home fas fa-home"></i>
  </a>
  <h3 class="navbar-title">分帳工具</h3>
</nav>

{{!-- 主視覺 --}}
<section id="action" class="action">
  <div class="banner"></div>
  <div class="banner-btn d-flex">
    <div class="member d-flex justify-content-center">
      <a href="./splitbills/member" class="btn btn-sm" role="button">成員</a>
    </div>
    <div class="balance d-flex justify-content-center">
      <a href="./splitbills/balance" class="btn btn-sm" role="button">結餘</a>
    </div>
  </div>
</section>

{{!-- 所有帳目 --}}
<div class="list">
  <div class="container">
    <h5 class="row date">2022年5月7日</h5>
    <div class="bill">
      <div class="row">
        <div class="bill-icon col-2">
          <i class=" fas fa-money-bill-alt"></i>
        </div>
        <div class="bill-info col-7">
          <p class="bill-name">交通費</p>
          <p class="bill-paid">同學A 先付 NT$ 500</p>
        </div>
        <p class="bill-toPaid col-3">NT$ 100</p>
      </div>
    </div>

    <div class="bill">
      <div class="row">
        <div class="bill-icon col-2">
          <i class=" fas fa-money-bill-alt"></i>
        </div>
        <div class="bill-info col-7">
          <p class="bill-name">餐費</p>
          <p class="bill-paid">同學B 先付 NT$ 300</p>
        </div>
        <p class="bill-toPaid col-3 d-flex justify-content-center align-items-center">NT$ 60</p>
      </div>
    </div>

    <h5 class="row date">2022年5月2日</h5>
    <div class="bill">
      <div class="row">
        <div class="bill-icon col-2">
          <i class=" fas fa-money-bill-alt"></i>
        </div>
        <div class="bill-info col-7">
          <p class="bill-name">門票</p>
          <p class="bill-paid">同學C 先付 NT$ 1000</p>
        </div>
        <p class="bill-toPaid col-3">NT$ 200</p>
      </div>
    </div>

  </div>
</div>

<div class="new-btn d-flex justify-content-center">
  <a href="./splitbills/new" class="btn btn-sm" role="button">
    <i class="fas fa-plus"></i>
  </a>
</div>