{{!-- 導覽列 --}}
<nav class="navbar">
  <a class="navbar-brand" href="/">
    <i class="navbar-home fas fa-home"></i>
  </a>
  <h3 class="navbar-title">成員</h3>
</nav>

{{!-- 成員清單 --}}
<div class="container">

  <div class="member-wapper mt-3">

    {{#each members}}
    <div class="row">
      <div class="member-name col-9">
        <input type="text" class="form-control" id="memberName" name="memberName" placeholder="請輸入姓名"
          value="{{ this.memberName }}" readonly>
      </div>
      <div class="member-delete col-3 mb-3">
        <form action="./member/{{ this._id }}?_method=DELETE" method="POST">
          <button class="btn-delete btn-sm" type="submit">刪除</button>
        </form>
      </div>

      {{!-- <div class="member-delete col-3 mb-3">
        <button type="submit" class="btn-delete btn-sm">刪除</button>
      </div> --}}
    </div>
    {{/each}}

    <div class="member-add">
      <h5 class="d-flex justify-content-center my-3">新增成員</h5>

      <form action="/split-bills/member" method="POST">
        <div class="row">
          <div class="member-name col-9">
            <input type="text" class="form-control" id="memberName" name="memberName" placeholder="請輸入姓名">
          </div>
          <div class="member-delete col-3 mb-3">
            <div class="new-btn d-flex justify-content-center">
              <button type="submit" class="btn-add btn-sm">新增</button>
            </div>
          </div>
        </div>
      </form>

      {{!-- <p class="member-add">+ 新增成員</p> --}}
    </div>
  </div>
  {{!-- <form action="/split-bills/member" method="POST"> --}}
    <div class="new-btn d-flex justify-content-center">
      <a href="/" class="btn-done btn btn-sm" role="button">完成</a>
      {{!-- <button type="submit">完成</button> --}}
    </div>
    {{!--
  </form> --}}